*.pyc
**/__pycache__
**/brawlstars_ai.egg-info
**/log
**/data
**/models
**/build
**/training
**/training_bk
**/build
**/dist
**/saved_model
**/.vscode
archive/
**/network-dqn*
**/*.stg
**/*.avi
*.pbtxt
checkpoint
*.pb
*.meta
*.index
**/*inference_graph
**/pre_trained
events.out.tfevents*
