*.pyc
__pycache__\
**/brawlstars_ai.egg-info
**/log
**/data
**/models
**/build
**/ssd_mobilenet*
**/training
**/training_bk
**/build
**/dist
**/saved_model
**/.vscode
archive/
**/network-dqn*
**/*.stg
**/*.avi
*.pbtxt
checkpoint
*.pb
*.meta
*.index

